div#headerSquidWooBenefits {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    font-family: 'Arial', sans-serif;
    padding: 20px 24px;
    background: #f7f6f7;
    margin-bottom: 20px;
    border-radius: 4px;
}
.info-benefit {
    position: relative;
    right: 0;
    left: 0;
    margin-top: 0px;
    font-size: 17px;
    color: #828282;
    font-weight: bold;
    padding: 8px 0px;
}
.info-benefit strong {
    color: #4a4a4a;
}
.info-benefit a {
    color: #4a4a4a !important;
    float: right;
    text-decoration: underline;
}
.pre-loading-bar {
    border: 2px solid #ccc;
    border-radius: 50px;
    padding: 0;
    margin: 0;
    height: auto;
    display: flex;
}
.loading-bar {
    display: inline-block;
    width: 2%;
    min-width: 25px;
    border: 1px solid #ccc;
    height: 24px;
    border-radius: 50px;
    transition: cubic-bezier(0.65, 0.05, 0.36, 1) 2.4s all;
    background: rgb(154,185,122);
    background: linear-gradient(90deg, rgba(154,185,122) 0%, rgba(113,147,78) 100%);
}
@media only screen and (max-width: 1000px) {
    div#headerSquidWooBenefits {
        margin: 30px 0;
        padding: 10px;
    }
    div#headerSquidWooBenefits div {
        width: 100%;
        display: inline-block;
    }
    .info-benefit {
        text-align: center;
        font-size: 13px;
    }
    .info-benefit a {
        text-align: center;
        display: inline-block;
        width: 100%;
        padding: 8px 0px;
    }
    .pre-loading-bar {
        border: 1px solid #ccc;
        max-height: 18px; 
    }
    .loading-bar {
        height: 16px;
    }
}